/* body styles */
html {
    background-color: #E8F8F5;
    opacity: 100%;
}
body {
    margin: 7% 15%;
    padding: 5px;
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
    color: darkslategrey;
}

img {
  opacity: 1.0;
}
div {
  opacity: 1.0;
}
.name {
    font-size: 42px;
    font-weight: bold;
    color: #1A5276;
    width: 100%;
}

.pages {
    display: flex;
    flex-direction: row;
    align-items: left;
}

.page {
    margin-left: 5%;
    padding: 15px;
    font-size: 24px;
}

.TextWrap {
    float:right;
    margin-left:20px;
    margin-bottom: 20px;

}
.content {
    margin-left: 5%;
    font-size: 20px;
}



